---
import Avatar from '@/modules/creators/components/Avatar.astro';
import Layout from '@/modules/layouts/components/Layout.astro';
import CreatorProvider from '@/modules/creators/provider';

const creatorProvider = new CreatorProvider();
const { data: creatorList, count: creatorCount } =
  await creatorProvider.getCreators();
---

<Layout title={'Creators'}>
  <main class='mx-auto max-w-7xl w-full min-h-full p-4 md:p-8 lg:p-10'>
    <h1 class='text-3xl font-bold mb-6 capitalize'>
      Creators ({creatorList?.length})
    </h1>
    <div
      class='grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4'
    >
      {
        creatorList?.map((creator) => (
          <div class='flex justify-space-between flex-col items-center gap-2'>
            <Avatar
              name={creator.name ?? ''}
              src={creator.picture}
              width='w-36'
            />
            <a
              class='text-xl justify-self-end capitalize text-center max-w-44'
              href={`/creators/${creator.id}`}
            >
              {creator.name}
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
