---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<header class='flex justify-between items-center mb-4'>
  <a
    class='border-transparent border-b hover:border-primary-content pb-1'
    href={href}
  >
    <h2 class='text-2xl font-bold capitalize'>
      <slot />
    </h2>
  </a>
  <a
    class='uppercase border-transparent border-b hover:border-primary-content pb-1'
    href={href}
  >
    See all
  </a>
</header>
