---
import LoginInfo from '@/modules/user/components/LoginInfo';
import Menu from './Menu.astro';
import './global.css';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='min-h-screen dark'>
    <div class='drawer'>
      <input id='my-drawer-3' type='checkbox' class='drawer-toggle' />
      <div class='drawer-content flex flex-col'>
        <!-- Navbar -->
        <div class='w-full navbar px-6'>
          <div class='flex-none lg:hidden'>
            <label for='my-drawer-3' class='btn btn-square btn-ghost'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 24 24'
                class='inline-block w-6 h-6 stroke-current'
                ><path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M4 6h16M4 12h16M4 18h16'></path></svg
              >
            </label>
          </div>
          <div class='flex-1 text-2xl'>
            <a href='/'>PoiTricks</a>
          </div>
          <div class='flex-none hidden lg:block'>
            <div><LoginInfo client:only /></div>
          </div>
        </div>
        <!-- Page content here -->
        <slot />
      </div>
      <Menu />
    </div>
  </body>
</html>

<script>
  import AuthProvider from '@/modules/auth/provider';
  import { setCurrentUserId } from '@/modules/user/store';
  import { createComponentClient } from '@/modules/supabase';

  const supabase = createComponentClient();
  const authProvider = new AuthProvider(supabase);

  authProvider.onAuthChange(setCurrentUserId);
</script>
