---
import LoginInfo from '@/modules/user/components/LoginInfo';
import Menu from './Menu.astro';
import './global.css';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='min-h-screen dark'>
    <div class='flex p-4'>
      <div class='flex-1 text-2xl p-4'>
        <a href='/'>PoiTricks</a>
      </div>
      <div class='flex-none hidden lg:block'>
        <div><LoginInfo client:only /></div>
      </div>
    </div>
    <!-- Page content here -->
    <slot />
  </body>
</html>

<script>
  import AuthProvider from '@/modules/auth/provider';
  import { setCurrentUserId } from '@/modules/user/store';

  const authProvider = new AuthProvider();

  authProvider.onAuthChange(setCurrentUserId);
</script>
