---
import Main from '@/components/Main.astro';
import TrickCard from '@/components/TrickCard.astro';
import { difficultyLevels } from '@/config';
import Layout from '@/layouts/Layout.astro';
import TrickProvider from '@/modules/tricks/provider';
import { serverClient } from '@/supabase';

export async function getStaticPaths() {
  return difficultyLevels.map((difficulty: string) => ({
    params: {
      difficulty,
    },
  }));
}

const supabase = serverClient();
const trickProvider = new TrickProvider(supabase);

const { difficulty } = Astro.params;
const { data: tricks } = await trickProvider.getTricks({
  filter: { eq: { key: 'difficulty', value: difficulty as string } }, // TODO Type: is as string really needed
});
---

<Layout title={`${difficulty} tricks`}>
  <main
    class='mx-auto max-w-7xl w-full min-h-full p-4 md:p-8 lg:p-10'
    data-tricks={tricks?.map((trick) => trick.id)}
  >
    <h1 class='text-3xl mb-6 capitalize'>{difficulty} tricks</h1>
    <div class='grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-10'>
      {
        tricks?.map((trick) => (
          <TrickCard
            id={trick.id}
            name={trick.name}
            types={trick.types ?? []}
          />
        ))
      }
    </div>
  </main>
</Layout>

<script>
  import AuthProvider from '@/modules/auth/provider';
  import CollectionProvider from '@/modules/collections/provider';
  import { getTrickIdsFromMain } from '@/modules/tricks/utils';
  import { setCollections } from '@/modules/collections/store';
  import { setCurrentUserId, onUserChange } from '@/modules/user/store';
  import { createComponentClient } from '@/supabase';

  const supabase = createComponentClient();
  const authProvider = new AuthProvider(supabase);
  const collectionProvider = new CollectionProvider(supabase);

  const trickIds = getTrickIdsFromMain();

  authProvider.onAuthChange(setCurrentUserId);

  onUserChange(async (userId) => {
    if (userId) {
      console.log({ userId });
      const collections = await collectionProvider.getCollections({
        userId,
        trickIds,
      });
      console.log({ collections });
      setCollections(collections);
    }
  });
</script>
